Django>=5.1,<5.3
djangorestframework>=3.15,<4
djangorestframework-simplejwt>=5.3,<6
django-cors-headers>=4.4,<5
django-environ>=0.11,<1
psycopg[binary]>=3.2,<4
celery[redis]>=5.4,<6
redis>=5.0,<6
docker>=7.1,<8
gunicorn>=23.0,<24
whitenoise>=6.7,<7
Pillow>=10.4,<12
markdown>=3.7,<4
bleach>=6.1,<7
